<p>
  <strong>Title:</strong>
  <%= @products.title %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @products.price %>
</p>

<p>
  <strong>Inventory_Count:</strong>
  <%= @products.inventory_count %>
</p>

<%= link_to 'Back', products_path %>